//text
$text-day-main: #000000;
$text-day-secondary: #6b6b6b;
$text-day-addition: #a6a4a0;
$text-day-disable: #c3c2be;

//bg
$bg-day-main: #ffffff;
$bg-day-secondary: #f7f7f5;
$bg-day-secondary-accent: #edecea;

//stroke
$strokes-day-main: #e4e4e4;
$strokes-day-secondary: #c3c2be;
$strokes-day-accent: #000000;

//Accent
$accent-day-brand: #3d3bff;
$accent-day-sale: #fff705;
$accent-day-danger: #ff5733;
$accent-day-danger-bg: #ffcdc2;
$accent-day-always-white: #ffffff;
$accent-day-always-black: #000000;

//Admin
$accent-day-variable: #dcf4fe;
