// adaptive

$desktop: 1280px;
$hovers: 1024px;
$tablet: 768px;
$mobile: 360px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin hovers {
  @media (min-width: $hovers) {
    @content;
  }
}
@mixin hovers {
  @media (min-width: $hovers) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}
