// 400

@font-face {
  font-family: "GraphikRegular";
  src: url("/src/assets/fonts/GraphikLCTT-VA-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// 500
@font-face {
  font-family: "GraphikMedium";
  src: url("/src/assets/fonts/GraphikLCTT-VA-Medium.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// 600
@font-face {
  font-family: "GraphikSemiBold";
  src: url("/src/assets/fonts/GraphikLCTT-VA-Semibold.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
// 700
@font-face {
  font-family: "GraphikBold";
  src: url("/src/assets/fonts/GraphikLCTT-VA-Bold.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
