.form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__card-list {
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr;
  }
  &__field-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__button {
    margin-top: 34px;
  }
  &__security {
    margin-top: 14px;
    line-height: 18px;
    &-text {
      font-size: 12px;
      line-height: 16px;
      color: $text-day-secondary;
    }
    &-link {
      text-decoration: underline;
    }
  }
  @include hovers {
    &__field-list {
      margin-top: 32px;
    }
    &__card-list {
      margin-top: 32px;
      grid-gap: 8px;
    }
    &__button {
      width: max-content;
    }
  }
  @include desktop {
    &__security {
      max-width: 82%;
    }
  }
}
