.field {
  position: relative;
  font-family: "GraphikRegular";
  input {
    width: 100%;
    padding: 25px 18px 9px 18px;
    height: 56px;
    outline: none;
    background: $bg-day-secondary;
    color: $text-day-main;
    font-size: 14px;
    line-height: $line-height-default;
    border: 1px solid $strokes-day-main;
    border-radius: 10px;
    transition: border-color 0.4s ease, background-color 0.4s ease;
    &::placeholder {
      color: $text-day-main;
    }
    &:focus ~ label {
      top: 12px;
      font-size: 11px;
      line-height: 12px;
      color: $text-day-secondary;
    }
    &:focus {
      background: $bg-day-main;
      border-color: $strokes-day-secondary;
    }
  }
  label {
    display: block;
    position: absolute;
    top: 18px;
    left: 18px;
    color: $text-day-main;
    font-size: 16px;
    line-height: $line-height-default;
    transition: all 0.4s ease;
  }
  &-error {
    position: relative;
    top: 3px;
    font-size: 11px;
    line-height: 12px;
    color: $accent-day-danger;
  }
  &--error {
    input {
      background: $accent-day-danger-bg;
      border-color: $accent-day-danger;
    }
  }
  &--filled {
    input {
      background: $bg-day-secondary;
      border-color: $strokes-day-secondary;
    }
    label {
      top: 12px;
      font-size: 11px;
      line-height: 12px;
      color: $text-day-secondary;
    }
  }
  input:disabled,
  input[disabled] {
    background: $bg-day-secondary-accent;
    color: $text-day-disable;
  }
}
@include hovers {
  .field {
    &:hover {
      input {
        border-color: $strokes-day-secondary;
      }
    }
    &--error:hover {
      input {
        background: $accent-day-danger-bg;
        border-color: $accent-day-danger;
      }
    }
  }
}
